<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.redwarp.app.multitool">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".MultiToolApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="${fabricApiKey}"/>

        <activity
                android:name=".compass.CompassActivity"
                android:label="@string/compass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>